<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="home"><img src="assets/images/logo.png"></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li><a class="active" href="home">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="contact">Contact us</a></li>
                        <li>
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
                                    ngbDropdownToggle>
                                    Get Started
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <ul>
                                        <li><a href="#">Login / Register</a></li>
                                        <li><a href="#">Setting</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>